/bin/
.gradle/
/build/
/generated/
/results/ast.json
/results/code.ollir
/results/code.j
COMP2021-*.jar
.idea/
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
proj.jar
*.dot